doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 个人信息修改
    link(rel="stylesheet" href="/styles/studentstyles/info.css")
  body.student-background
    a(href="/student/interface" class="back-button")
      img(src="/images/backbutton.png" alt="Back Button")
    .container
      h1 个人信息修改
      form(action="/student/update-info" method="post")
        div
          label(for="name") 姓名
          input(type="text" id="name" name="name" value="王明" required)
        div
          label(for="gender") 性别
          select(id="gender" name="gender")
            option(value="男" selected) 男
            option(value="女") 女
        div
          label(for="age") 年龄
          input(type="number" id="age" name="age" value="11" required)
        div
          label(for="symptoms") 症状
          input(type="text" id="symptoms" name="symptoms" value="自闭症" required)
        div
          label(for="location") 辅导机构
          input(type="text" id="location" name="location" value="家住重庆市渝北区" required)
        div
          button(type="submit") 保存
