doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 评估报告
    link(rel="stylesheet" href="/styles/studentstyles/report.css")
  body.student-background
    a(href="/student/interface" class="back-button")
      img(src="/images/backbutton.png" alt="Back Button")
    .container
      h1 评估报告
      table
        thead
          tr
            th 报告名称
            th 日期
        tbody
          if reports && reports.length > 0
            each report in reports
              tr
                td= report.Report_name
                td= new Date(report.Report_time).toLocaleDateString()
          else
            tr
              td(colspan="2") 没有报告数据
