doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 支持与帮助
    link(rel="stylesheet" href="/styles/studentstyles/support.css")
  body.student-background
    a(href="/student/interface" class="back-button")
      img(src="/images/backbutton.png" alt="Back Button")
    .container
        h2 主要功能介绍
        p 1. 个性化课表：每位学生都可以在系统中查看和管理自己的个性化课表，确保不会错过任何一节课或重要活动。
        p 2. 提醒功能：系统会在课前发送提醒通知，帮助大家更好地安排时间，准时上课。
        p 3. 课程资源：在每个课程页面，大家可以找到相关的学习资料、课件和作业要求，方便随时查阅和下载。
        p 4. 老师沟通：通过系统，大家可以方便地与老师沟通，提出问题或寻求帮助，确保学习过程中的任何疑惑都能及时解决。
        h2  使用指导
        p 登录系统：使用分配给你们的用户名和密码登录课表系统。如果忘记密码，可以通过系统提供的找回功能进行重置。
        p 查看课表：登录后，进入“我的课表”页面，你可以看到每天的课程安排。如果有任何变动，系统会及时更新并通知你。
        p 设置提醒：你可以在“设置”页面开启课前提醒功能，选择你希望接收提醒的方式（如短信或邮件）。
        p 下载资源：在“课程资源”页面，你可以找到每门课的相关学习资料，点击即可下载到自己的设备上，方便课后复习。
        p 联系老师：在“师生交流”页面，选择相应的课程和老师，输入你的问题并发送。老师会在看到消息后尽快回复你。
        h2 技术支持
        p 如果在使用过程中遇到任何技术问题，请随时联系我们的技术支持团队。你可以通过以下方式与我们取得联系：
        p 电话: 123-456-7890
        p 邮箱: support@schoolname.edu