doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 老师界面
    link(rel="stylesheet" href="/styles/teacherstyles/interface.css")
  body.teacher-background
    a(href="/login" class="back-button") 
      img(src="/images/backbutton.png" alt="Back Button")
    .container
      a(href="/teacher/info" class="avatar-link")
        img(src="/images/teacheravatar.jpg" alt="Teacher Avatar")
      .info
        h2= teacher.Teacher_name + '老师'
        p= teacher.Gender
        p= teacher.age + '岁'
        p= teacher.Institution_name
      .buttons
        a(href="/teacher/timetable" class="btn-link")
          img(src="/images/timetablebutton.png" alt="Timetable button")
        a(href="/teacher/search" class="btn-link")
          img(src="/images/folderbutton.png" alt="search button")
