body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'SimSun', Arial, sans-serif; /* 添加默认字体以获得更好的样式 */
  }
  
  .student-background {
    position: absolute; /* 确保背景覆盖整个视口 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/studentpage.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1; /* 将背景放置在其他内容之下 */
  }

  .back-button {
    position: absolute;
    top: 20px; /* 调整为合适的距离 */
    left: 20px; /* 调整为合适的距离 */
    z-index: 10; /* 确保在其他内容之上 */
  }
  
  .back-button img {
    width: 100px; /* 返回按钮的宽度 */
    height: auto;
  }

  /* 确保没有隐藏表格或行的 CSS */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}