doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 注册页面
    link(rel="stylesheet" href="/styles/registerstyles.css")
  body.login-background
    .top-right-image
      img(src="/images/cloud.png" alt="Top Right Image")
    .login-box
      img(src="/images/hellologin.png" alt="Top Image" class="top-image")
      h1 欢迎注册
      form(action="/register" method="post")
        div
          input(type="text" id="username" name="username" placeholder="请输入用户名" required)
        div
          input(type="password" id="password" name="password" placeholder="请输入密码" required)
        div
          button(type="submit") 注册
        div
          a(href="/login") 已有账户？登录